/* this file is loaded by index.html and styles the page */

* {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, Helvetical, sans-serif;
  font-weight: 200;
  font-style: normal;

  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

h1 {
  font-style: italic;
  color: #373fff;
  max-width: calc(100% - 5rem);
  line-height: 1.1;
}

main {
  font-family: sans-serif;
  line-height: 1.5em;
  width: 100%;
}

main p {
  padding: 20px;
}

footer {
  display: flex;
  align-items: center;
  flex-direction: row;
  
  margin-top: 3em;
  padding: 1.5em;
  border-top: 1px solid lightgrey;
  background-color: #c6d2da;
  width: 100%;
}

footer div {
  padding: 0.3em;
}

a {
  color: #000000;
}

b {
  color: #c9523d;
}

announcement {
  padding: 1.5em;
width: 50%;
text-align: left;
}

nav {
  padding: 1.5em;
width: 50%;
text-align: right;
}

counter {
  padding: 3em;
  display: block;
  background-color: #000000;
  width: 100%;
  text-align: center;
}

counter .number {
  color: #ffffff;
}

main {
  width: 50%;
  max-width: 700px;
  margin-left: 25%;
  margin-right: 25%;
  display: flex;
  flex-direction: column;
}

carousel-title {
width: 100%;
}

carousel {
  display: block;
  position: relative;
  color: #ffffff;
}

carousel a {
  color: #ffffff;
}

carousel .page-number {
  padding-top: 0.45em;
  padding-left: 0.6em;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}

carousel .arrow-left {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 10%;
  vertical-align: center;
}

carousel .arrow-right {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 10%;
  vertical-align: center;
}

carousel .footer {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center; 
}

carousel img {
  box-sizing: border-box;
  width: 100%;
}

carousel-nav {
  padding: 0.9em;
display: flex;
flex-direction: row;
  align-items: center;
}

carousel-nav button {
  display: block;
    width: 1em;
    height: 1em;
    border-radius: 5em;
  background-color: #bbbbbb;
}

carousel-nav button:active {
  background-color: #717171;
}

credit {
  padding: 0.3em;
  width: 100%;
  text-align: center;
}

/* mobile */
@media only screen and (max-width: 600px) {

footer {
  flex-direction: column-reverse;
}

}

/* tablet */
@media only screen and (min-width: 601px) and (max-width: 1279px) {


}

/* desktop */
@media only screen and (min-width: 1280px) {

}